@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.effect::after {
  content: "";
  position: absolute;
  top: -10px;
  left:-8px;
  width: 10%;
  height: 100%;
  transition: all 0.5s ease-in;
  rotate: 30deg;
}


